<md-dialog aria-label="编辑人物" flex="1024">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>编辑人物</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <i class="mdi mdi-window-close"  aria-label="关闭"></i>          
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="基本信息">
          <md-content class="md-padding">         
            <div ng-include="'partials/editPeopleBasic.html'"></div>
          </md-content>
        </md-tab>
        <md-tab label="生平事迹">
          <md-content class="md-padding">
            <h1 class="md-display-2">生平事迹</h1>
            <p></p>
          </md-content>
        </md-tab>
        <md-tab label="关系人物">
          <md-content class="md-padding">
            <div ng-include="'partials/editPeopleRelation.html'"></div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>      
      <md-button class="md-button md-primary" ng-disabled="editPeopleForm.peopleForm.$invalid || editPeopleForm.relationForm.$invalid" ng-click="save()" style="margin-right:20px;" >
        保存
      </md-button>
    </md-dialog-actions>
</md-dialog>