<md-switch layout-align="end center" ng-model="showHints">显示{{showHints ? "提示" : "错误"}}</md-switch>   
<div layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding>
    <form name="editPeopleForm.peopleForm">
       <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="md-block" flex="300">
                <label>姓</label>
                <input md-maxlength="30" required name="firstName" ng-model="people.firstName" />
                <div class="hint" ng-if="showHints">自古以来，姓是一族的荣耀</div>
                <div ng-messages="editPeopleForm.peopleForm.firstName.$error" ng-if="!showHints">
                    <div ng-message="required">没有姓的人是悲哀的</div>
                    <div ng-message="md-maxlength">有超过30个字符的姓么？</div>
                </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex="300">
                <label>名</label>
                <input md-maxlength="30" required name="lastName" ng-model="people.lastName" />
                <div class="hint" ng-if="showHints">名字是人类的标签</div>
                <div ng-messages="editPeopleForm.peopleForm.lastName.$error" ng-if="!showHints">
                    <div ng-message="required">无名氏？</div>
                    <div ng-message="md-maxlength">有超过30个字符的名么？</div>
                </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex="300">
                <label>字</label>
                <input md-maxlength="30" name="wordName" ng-model="people.wordName" />
                <div class="hint" ng-if="showHints">字是古人的象征</div>
                <div ng-messages="editPeopleForm.peopleForm.wordName.$error" ng-if="!showHints">            
                    <div ng-message="md-maxlength">有超过30个字符的字么？</div>
                </div>
            </md-input-container>
       </md-content>
       <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="md-block" flex="300">
                <label>性别</label>
                <md-select ng-model="people.sex" required>
                    <md-option ng-repeat="sex in sexs" value="{{sex}}">
                    {{sex}}
                    </md-option>
                </md-select>
                <div class="hint" ng-show="showHints">性别你懂的</div>
                <div ng-messages="editPeopleForm.peopleForm.sex.$error" ng-if="!showHints">
                    <div ng-message="required">无性？orz,据说宫廷里正在抓人呢</div>
                </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>
            <div layout="row" flex="300">
                <md-input-container class="md-block">
                    <label>生年</label>
                    <input name="birthYear" ng-model="people.birthYear" ng-pattern="/^[-]{0,1}[0-9]{1,4}$/" />
                    <div class="hint" ng-show="showHints">公元后就直接输入数字，公元前加-号</div>
                    <div ng-messages="editPeopleForm.peopleForm.birthYear.$error" ng-hide="showHints">
                        <div ng-message="pattern">年份无效，请输入-9999到9999</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <md-checkbox ng-model="people.birthYearGuess" aria-label="生年是推测的">
                            推测
                    </md-checkbox>
                </md-input-container>
            </div>
            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>
            <div layout="row" flex="300">
                <md-input-container class="md-block">
                    <label>卒年</label>        
                    <input name="deathYear" ng-model="people.deathYear" ng-pattern="/^[-]{0,1}[0-9]{1,4}$/" />
                    <div class="hint" ng-show="showHints">公元后就直接输入数字，公元前加-号</div>
                    <div ng-messages="editPeopleForm.peopleForm.deathyear.$error" ng-hide="showHints">
                        <div ng-message="pattern">年份无效，请输入-9999到9999</div>
                    </div>          
                </md-input-container>
                <md-input-container class="md-block">
                    <md-checkbox ng-model="people.deathYearGuess" aria-label="卒年是推测的">
                        推测
                    </md-checkbox>  
                </md-input-container>
             </div>
       </md-content>
            <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="md-block" flex="300">
                <label>头像id</label>
                <input md-maxlength="30" name="avatar" ng-model="people.avatar" />
                <div class="hint" ng-if="showHints">头像是人的门户</div>
                <div ng-messages="editPeopleForm.peopleForm.avatar.$error" ng-if="!showHints">                    
                    <div ng-message="md-maxlength">头像id就别超过30个字符了吧</div>
                </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex="300">   
                <img ng-src="../image/head/{{people.avatar || 'default'}}.png" class="avatar" />    
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex="300">               
            </md-input-container>
       </md-content>
    </form>
  </md-content>
</div>